node_modules/
.gitignore
.github/
.vscode/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.nyc_output/
.husky/
coverage/
cypress/
.changeset/
build/
Dockerfile
.git
OpenCloning_backend
tests/

.env.local
.env.development
.env.production
.env.test

apps/*/node_modules/
apps/*/build/
