/* Single scrollbar solution: only body scrolls */
html {
  height: 100%;
  /* Don't add overflow here - let body handle scrolling */
}

body {
  min-height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
}

#root {
  min-height: 100%;
}

.left_overhang, .right_overhang, .left_inside, .right_inside {
  font-family: monospace;
}

.app-content {
  background-color: rgb(240, 240, 240);
}
